@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

* {
	box-sizing: border-box;
}

@keyframes show {
	0% {
		display: none;
		transform: translateY(100%);
	}
	100% {
		display: block;
		transform: translateY(0%);
	}
}

@keyframes hide {
	0% {
		display: block;
		transform: translateY(0%);
	}
	100% {
		display: none;
		transform: translateY(100%);
	}
}

@theme {
	--color-primary: #0b0b0b;
	--color-surface: #969696;
	--color-secondary: #f5f5f5;
	--color-primary-foreground: #fbfbfb;
	--color-muted: #f3f3f3;
	--shadow-tab: box-shadow: 0px 1px 2px -1px #0000001a, 0px 1px 3px 0px #0000001a;
	--color-input: #b7b7b7;
	--color-primary-green: #6ac66a;
	--shadow-input: 0px 1px 2px 0px #0000000d;
	--animate-show: show 0.5s ease alternate;
	--animate-hide: hide 0.5s ease alternate;
}

body {
	background-color: var(--color-white);
	font-family: "Nunito", sans-serif;
	height: 100vh;
}

input,
button {
	font-family: inherit;
}
